.album-card {
  background: #2a2a2a;
  border-radius: 8px;
  padding: 20px;
  margin: 20px 0;
  color: #e1e1e1;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  border: 1px solid rgba(255,255,255,0.1);
}

.album-main {
  display: flex;
  gap: 20px;
}

.album-cover {
  flex: 0 0 30%;
}

.album-cover img {
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.3);
}

.album-info {
  flex: 1;
}

.album-title {
  font-size: 24px;
  margin-bottom: 15px;
  color: #fff;
  font-weight :bold;
}

.album-meta {
  display: flex;
  gap: 40px;
  margin-bottom: 20px;
  font-size: 16px;
  color: #bbb;
}

.meta-left, .meta-right {
  flex: 1;
}

.album-meta span {
  color: #9ecbff;
}

.album-desc {
  padding: 15px 20px;
  background: rgba(255,255,255,0.05);
  border-radius: 6px;
  font-size: 14px;
  line-height: 1.8;
  color: #bbb;
}

#article-container p {
  margin: 0;
}

.album-card .toggle {
  margin-bottom: 0px;
}

.toggle .toggle-content li {
  color: #e0e0e0;
  font-size: 14px;
  line-height: 1.8;
  padding: 6px 10px;
  margin: 4px 0;
  list-style: decimal;
  transition: all 0.2s ease;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.05);
}

.toggle li:hover {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  transform: translateX(5px);
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .album-main {
    flex-direction: column;
    gap: 0px;
  }
  
  .album-cover {
    flex: 0 0 100%;
    margin-bottom: 0px;
  }
  .album-title {
    margin-bottom: 10px;
}

  .album-card .toggle {
    margin-top: 10px;
}
}